<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-edit" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel ep_obligaciones edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END message_back_button}
{BEGIN message_view_page_button}
		<a class="btn btn-sm btn-default" href="ep_obligaciones_view.php?{$editlink}" {$view_page_button_attrs}>Ver</a>
{END message_view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Numero_Documento_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Numero_Documento}  r-vertical-field" 
	data-signal-error-for="Numero_Documento{$id}" {$required_attr_Numero_Documento}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="Numero_Documento" data-fieldname="Numero Documento" >

	<label class="r-edit-label control-label" for="{$labelfor_Numero_Documento}">
		{BEGIN Numero_Documento_label}{$label ep_obligaciones Numero_Documento }{END Numero_Documento_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Numero_Documento_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Numero_Documento" {$tooltipAttr ep_obligaciones Numero_Documento } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Numero_Documento }		</div>
	</div>
</div>


{END Numero_Documento_fieldblock}
											
{BEGIN Fecha_de_Registro_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Fecha_de_Registro}  r-vertical-field" 
	data-signal-error-for="Fecha_de_Registro{$id}" {$required_attr_Fecha_de_Registro}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="Fecha_de_Registro" data-fieldname="Fecha de Registro" >

	<label class="r-edit-label control-label" for="{$labelfor_Fecha_de_Registro}">
		{BEGIN Fecha_de_Registro_label}{$label ep_obligaciones Fecha_de_Registro }{END Fecha_de_Registro_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Fecha_de_Registro_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Fecha_de_Registro" {$tooltipAttr ep_obligaciones Fecha_de_Registro } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Fecha_de_Registro }		</div>
	</div>
</div>


{END Fecha_de_Registro_fieldblock}
											
{BEGIN Fecha_de_Creacion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Fecha_de_Creacion}  r-vertical-field" 
	data-signal-error-for="Fecha_de_Creacion{$id}" {$required_attr_Fecha_de_Creacion}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="Fecha_de_Creacion" data-fieldname="Fecha de Creacion" >

	<label class="r-edit-label control-label" for="{$labelfor_Fecha_de_Creacion}">
		{BEGIN Fecha_de_Creacion_label}{$label ep_obligaciones Fecha_de_Creacion }{END Fecha_de_Creacion_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Fecha_de_Creacion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Fecha_de_Creacion" {$tooltipAttr ep_obligaciones Fecha_de_Creacion } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Fecha_de_Creacion }		</div>
	</div>
</div>


{END Fecha_de_Creacion_fieldblock}
											
{BEGIN Estado_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Estado}  r-vertical-field" 
	data-signal-error-for="Estado{$id}" {$required_attr_Estado}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="Estado" data-fieldname="Estado" >

	<label class="r-edit-label control-label" for="{$labelfor_Estado}">
		{BEGIN Estado_label}{$label ep_obligaciones Estado }{END Estado_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Estado_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Estado" {$tooltipAttr ep_obligaciones Estado } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Estado }		</div>
	</div>
</div>


{END Estado_fieldblock}
											
{BEGIN Valor_Actual_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Valor_Actual}  r-vertical-field" 
	data-signal-error-for="Valor_Actual{$id}" {$required_attr_Valor_Actual}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="Valor_Actual" data-fieldname="Valor Actual" >

	<label class="r-edit-label control-label" for="{$labelfor_Valor_Actual}">
		{BEGIN Valor_Actual_label}{$label ep_obligaciones Valor_Actual }{END Valor_Actual_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Valor_Actual_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Valor_Actual" {$tooltipAttr ep_obligaciones Valor_Actual } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Valor_Actual }		</div>
	</div>
</div>


{END Valor_Actual_fieldblock}
											
{BEGIN Valor_Deducciones_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Valor_Deducciones}  r-vertical-field" 
	data-signal-error-for="Valor_Deducciones{$id}" {$required_attr_Valor_Deducciones}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="Valor_Deducciones" data-fieldname="Valor Deducciones" >

	<label class="r-edit-label control-label" for="{$labelfor_Valor_Deducciones}">
		{BEGIN Valor_Deducciones_label}{$label ep_obligaciones Valor_Deducciones }{END Valor_Deducciones_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Valor_Deducciones_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Valor_Deducciones" {$tooltipAttr ep_obligaciones Valor_Deducciones } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Valor_Deducciones }		</div>
	</div>
</div>


{END Valor_Deducciones_fieldblock}
											
{BEGIN Valor_Oblig_no_Orden_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Valor_Oblig_no_Orden}  r-vertical-field" 
	data-signal-error-for="Valor_Oblig_no_Orden{$id}" {$required_attr_Valor_Oblig_no_Orden}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="Valor_Oblig_no_Orden" data-fieldname="Valor Oblig no Orden" >

	<label class="r-edit-label control-label" for="{$labelfor_Valor_Oblig_no_Orden}">
		{BEGIN Valor_Oblig_no_Orden_label}{$label ep_obligaciones Valor_Oblig_no_Orden }{END Valor_Oblig_no_Orden_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Valor_Oblig_no_Orden_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Valor_Oblig_no_Orden" {$tooltipAttr ep_obligaciones Valor_Oblig_no_Orden } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Valor_Oblig_no_Orden }		</div>
	</div>
</div>


{END Valor_Oblig_no_Orden_fieldblock}
											
{BEGIN Tipo_Identificacion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Tipo_Identificacion}  r-vertical-field" 
	data-signal-error-for="Tipo_Identificacion{$id}" {$required_attr_Tipo_Identificacion}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="Tipo_Identificacion" data-fieldname="Tipo Identificacion" >

	<label class="r-edit-label control-label" for="{$labelfor_Tipo_Identificacion}">
		{BEGIN Tipo_Identificacion_label}{$label ep_obligaciones Tipo_Identificacion }{END Tipo_Identificacion_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Tipo_Identificacion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Tipo_Identificacion" {$tooltipAttr ep_obligaciones Tipo_Identificacion } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Tipo_Identificacion }		</div>
	</div>
</div>


{END Tipo_Identificacion_fieldblock}
											
{BEGIN Identificacion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Identificacion}  r-vertical-field" 
	data-signal-error-for="Identificacion{$id}" {$required_attr_Identificacion}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="Identificacion" data-fieldname="Identificacion" >

	<label class="r-edit-label control-label" for="{$labelfor_Identificacion}">
		{BEGIN Identificacion_label}{$label ep_obligaciones Identificacion }{END Identificacion_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Identificacion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Identificacion" {$tooltipAttr ep_obligaciones Identificacion } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Identificacion }		</div>
	</div>
</div>


{END Identificacion_fieldblock}
											
{BEGIN Nombre_Razon_Social_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Nombre_Razon_Social}  r-vertical-field" 
	data-signal-error-for="Nombre_Razon_Social{$id}" {$required_attr_Nombre_Razon_Social}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="Nombre_Razon_Social" data-fieldname="Nombre Razon Social" >

	<label class="r-edit-label control-label" for="{$labelfor_Nombre_Razon_Social}">
		{BEGIN Nombre_Razon_Social_label}{$label ep_obligaciones Nombre_Razon_Social }{END Nombre_Razon_Social_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Nombre_Razon_Social_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Nombre_Razon_Social" {$tooltipAttr ep_obligaciones Nombre_Razon_Social } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Nombre_Razon_Social }		</div>
	</div>
</div>


{END Nombre_Razon_Social_fieldblock}
											
{BEGIN Medio_de_Pago_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Medio_de_Pago}  r-vertical-field" 
	data-signal-error-for="Medio_de_Pago{$id}" {$required_attr_Medio_de_Pago}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="Medio_de_Pago" data-fieldname="Medio de Pago" >

	<label class="r-edit-label control-label" for="{$labelfor_Medio_de_Pago}">
		{BEGIN Medio_de_Pago_label}{$label ep_obligaciones Medio_de_Pago }{END Medio_de_Pago_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Medio_de_Pago_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Medio_de_Pago" {$tooltipAttr ep_obligaciones Medio_de_Pago } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Medio_de_Pago }		</div>
	</div>
</div>


{END Medio_de_Pago_fieldblock}
											
{BEGIN Tipo_Cuenta_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Tipo_Cuenta}  r-vertical-field" 
	data-signal-error-for="Tipo_Cuenta{$id}" {$required_attr_Tipo_Cuenta}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="Tipo_Cuenta" data-fieldname="Tipo Cuenta" >

	<label class="r-edit-label control-label" for="{$labelfor_Tipo_Cuenta}">
		{BEGIN Tipo_Cuenta_label}{$label ep_obligaciones Tipo_Cuenta }{END Tipo_Cuenta_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Tipo_Cuenta_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Tipo_Cuenta" {$tooltipAttr ep_obligaciones Tipo_Cuenta } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Tipo_Cuenta }		</div>
	</div>
</div>


{END Tipo_Cuenta_fieldblock}
											
{BEGIN Numero_Cuenta_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Numero_Cuenta}  r-vertical-field" 
	data-signal-error-for="Numero_Cuenta{$id}" {$required_attr_Numero_Cuenta}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="Numero_Cuenta" data-fieldname="Numero Cuenta" >

	<label class="r-edit-label control-label" for="{$labelfor_Numero_Cuenta}">
		{BEGIN Numero_Cuenta_label}{$label ep_obligaciones Numero_Cuenta }{END Numero_Cuenta_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Numero_Cuenta_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Numero_Cuenta" {$tooltipAttr ep_obligaciones Numero_Cuenta } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Numero_Cuenta }		</div>
	</div>
</div>


{END Numero_Cuenta_fieldblock}
											
{BEGIN Estado_Cuenta_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Estado_Cuenta}  r-vertical-field" 
	data-signal-error-for="Estado_Cuenta{$id}" {$required_attr_Estado_Cuenta}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="Estado_Cuenta" data-fieldname="Estado Cuenta" >

	<label class="r-edit-label control-label" for="{$labelfor_Estado_Cuenta}">
		{BEGIN Estado_Cuenta_label}{$label ep_obligaciones Estado_Cuenta }{END Estado_Cuenta_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Estado_Cuenta_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Estado_Cuenta" {$tooltipAttr ep_obligaciones Estado_Cuenta } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Estado_Cuenta }		</div>
	</div>
</div>


{END Estado_Cuenta_fieldblock}
											
{BEGIN Entidad_Nit_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Entidad_Nit}  r-vertical-field" 
	data-signal-error-for="Entidad_Nit{$id}" {$required_attr_Entidad_Nit}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="Entidad_Nit" data-fieldname="Entidad Nit" >

	<label class="r-edit-label control-label" for="{$labelfor_Entidad_Nit}">
		{BEGIN Entidad_Nit_label}{$label ep_obligaciones Entidad_Nit }{END Entidad_Nit_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Entidad_Nit_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Entidad_Nit" {$tooltipAttr ep_obligaciones Entidad_Nit } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Entidad_Nit }		</div>
	</div>
</div>


{END Entidad_Nit_fieldblock}
											
{BEGIN Entidad_Descripcion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Entidad_Descripcion}  r-vertical-field" 
	data-signal-error-for="Entidad_Descripcion{$id}" {$required_attr_Entidad_Descripcion}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="Entidad_Descripcion" data-fieldname="Entidad Descripcion" >

	<label class="r-edit-label control-label" for="{$labelfor_Entidad_Descripcion}">
		{BEGIN Entidad_Descripcion_label}{$label ep_obligaciones Entidad_Descripcion }{END Entidad_Descripcion_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Entidad_Descripcion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Entidad_Descripcion" {$tooltipAttr ep_obligaciones Entidad_Descripcion } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Entidad_Descripcion }		</div>
	</div>
</div>


{END Entidad_Descripcion_fieldblock}
											
{BEGIN Dependencia_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Dependencia}  r-vertical-field" 
	data-signal-error-for="Dependencia{$id}" {$required_attr_Dependencia}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="Dependencia" data-fieldname="Dependencia" >

	<label class="r-edit-label control-label" for="{$labelfor_Dependencia}">
		{BEGIN Dependencia_label}{$label ep_obligaciones Dependencia }{END Dependencia_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Dependencia_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Dependencia" {$tooltipAttr ep_obligaciones Dependencia } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Dependencia }		</div>
	</div>
</div>


{END Dependencia_fieldblock}
											
{BEGIN Dependencia_Descripcion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Dependencia_Descripcion}  r-vertical-field" 
	data-signal-error-for="Dependencia_Descripcion{$id}" {$required_attr_Dependencia_Descripcion}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="Dependencia_Descripcion" data-fieldname="Dependencia Descripcion" >

	<label class="r-edit-label control-label" for="{$labelfor_Dependencia_Descripcion}">
		{BEGIN Dependencia_Descripcion_label}{$label ep_obligaciones Dependencia_Descripcion }{END Dependencia_Descripcion_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Dependencia_Descripcion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Dependencia_Descripcion" {$tooltipAttr ep_obligaciones Dependencia_Descripcion } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Dependencia_Descripcion }		</div>
	</div>
</div>


{END Dependencia_Descripcion_fieldblock}
											
{BEGIN Rubro_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Rubro}  r-vertical-field" 
	data-signal-error-for="Rubro{$id}" {$required_attr_Rubro}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="Rubro" data-fieldname="Rubro" >

	<label class="r-edit-label control-label" for="{$labelfor_Rubro}">
		{BEGIN Rubro_label}{$label ep_obligaciones Rubro }{END Rubro_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Rubro_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Rubro" {$tooltipAttr ep_obligaciones Rubro } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Rubro }		</div>
	</div>
</div>


{END Rubro_fieldblock}
											
{BEGIN Descripcion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Descripcion}  r-vertical-field" 
	data-signal-error-for="Descripcion{$id}" {$required_attr_Descripcion}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="Descripcion" data-fieldname="Descripcion" >

	<label class="r-edit-label control-label" for="{$labelfor_Descripcion}">
		{BEGIN Descripcion_label}{$label ep_obligaciones Descripcion }{END Descripcion_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Descripcion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Descripcion" {$tooltipAttr ep_obligaciones Descripcion } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Descripcion }		</div>
	</div>
</div>


{END Descripcion_fieldblock}
											
{BEGIN Valor_Inicial_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Valor_Inicial}  r-vertical-field" 
	data-signal-error-for="Valor_Inicial{$id}" {$required_attr_Valor_Inicial}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="Valor_Inicial" data-fieldname="Valor Inicial" >

	<label class="r-edit-label control-label" for="{$labelfor_Valor_Inicial}">
		{BEGIN Valor_Inicial_label}{$label ep_obligaciones Valor_Inicial }{END Valor_Inicial_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Valor_Inicial_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Valor_Inicial" {$tooltipAttr ep_obligaciones Valor_Inicial } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Valor_Inicial }		</div>
	</div>
</div>


{END Valor_Inicial_fieldblock}
											
{BEGIN Valor_Operaciones_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Valor_Operaciones}  r-vertical-field" 
	data-signal-error-for="Valor_Operaciones{$id}" {$required_attr_Valor_Operaciones}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="Valor_Operaciones" data-fieldname="Valor Operaciones" >

	<label class="r-edit-label control-label" for="{$labelfor_Valor_Operaciones}">
		{BEGIN Valor_Operaciones_label}{$label ep_obligaciones Valor_Operaciones }{END Valor_Operaciones_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Valor_Operaciones_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Valor_Operaciones" {$tooltipAttr ep_obligaciones Valor_Operaciones } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Valor_Operaciones }		</div>
	</div>
</div>


{END Valor_Operaciones_fieldblock}
											
{BEGIN Valor_Actual1_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Valor_Actual1}  r-vertical-field" 
	data-signal-error-for="Valor_Actual1{$id}" {$required_attr_Valor_Actual1}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="Valor_Actual1" data-fieldname="Valor Actual1" >

	<label class="r-edit-label control-label" for="{$labelfor_Valor_Actual1}">
		{BEGIN Valor_Actual1_label}{$label ep_obligaciones Valor_Actual1 }{END Valor_Actual1_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Valor_Actual1_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Valor_Actual1" {$tooltipAttr ep_obligaciones Valor_Actual1 } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Valor_Actual1 }		</div>
	</div>
</div>


{END Valor_Actual1_fieldblock}
											
{BEGIN Saldo_por_Utilizar_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Saldo_por_Utilizar}  r-vertical-field" 
	data-signal-error-for="Saldo_por_Utilizar{$id}" {$required_attr_Saldo_por_Utilizar}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="Saldo_por_Utilizar" data-fieldname="Saldo por Utilizar" >

	<label class="r-edit-label control-label" for="{$labelfor_Saldo_por_Utilizar}">
		{BEGIN Saldo_por_Utilizar_label}{$label ep_obligaciones Saldo_por_Utilizar }{END Saldo_por_Utilizar_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Saldo_por_Utilizar_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Saldo_por_Utilizar" {$tooltipAttr ep_obligaciones Saldo_por_Utilizar } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Saldo_por_Utilizar }		</div>
	</div>
</div>


{END Saldo_por_Utilizar_fieldblock}
											
{BEGIN Fuente_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Fuente}  r-vertical-field" 
	data-signal-error-for="Fuente{$id}" {$required_attr_Fuente}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="Fuente" data-fieldname="Fuente" >

	<label class="r-edit-label control-label" for="{$labelfor_Fuente}">
		{BEGIN Fuente_label}{$label ep_obligaciones Fuente }{END Fuente_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Fuente_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Fuente" {$tooltipAttr ep_obligaciones Fuente } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Fuente }		</div>
	</div>
</div>


{END Fuente_fieldblock}
											
{BEGIN Situacion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Situacion}  r-vertical-field" 
	data-signal-error-for="Situacion{$id}" {$required_attr_Situacion}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field25" {$item_integrated_edit_field25} data-pageid="{$pageid}" data-field="Situacion" data-fieldname="Situacion" >

	<label class="r-edit-label control-label" for="{$labelfor_Situacion}">
		{BEGIN Situacion_label}{$label ep_obligaciones Situacion }{END Situacion_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Situacion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Situacion" {$tooltipAttr ep_obligaciones Situacion } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Situacion }		</div>
	</div>
</div>


{END Situacion_fieldblock}
											
{BEGIN Recurso_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Recurso}  r-vertical-field" 
	data-signal-error-for="Recurso{$id}" {$required_attr_Recurso}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field26" {$item_integrated_edit_field26} data-pageid="{$pageid}" data-field="Recurso" data-fieldname="Recurso" >

	<label class="r-edit-label control-label" for="{$labelfor_Recurso}">
		{BEGIN Recurso_label}{$label ep_obligaciones Recurso }{END Recurso_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Recurso_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Recurso" {$tooltipAttr ep_obligaciones Recurso } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Recurso }		</div>
	</div>
</div>


{END Recurso_fieldblock}
											
{BEGIN Concepto_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Concepto}  r-vertical-field" 
	data-signal-error-for="Concepto{$id}" {$required_attr_Concepto}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field27" {$item_integrated_edit_field27} data-pageid="{$pageid}" data-field="Concepto" data-fieldname="Concepto" >

	<label class="r-edit-label control-label" for="{$labelfor_Concepto}">
		{BEGIN Concepto_label}{$label ep_obligaciones Concepto }{END Concepto_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Concepto_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Concepto" {$tooltipAttr ep_obligaciones Concepto } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Concepto }		</div>
	</div>
</div>


{END Concepto_fieldblock}
											
{BEGIN Solicitud_CDP_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Solicitud_CDP}  r-vertical-field" 
	data-signal-error-for="Solicitud_CDP{$id}" {$required_attr_Solicitud_CDP}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field28" {$item_integrated_edit_field28} data-pageid="{$pageid}" data-field="Solicitud_CDP" data-fieldname="Solicitud CDP" >

	<label class="r-edit-label control-label" for="{$labelfor_Solicitud_CDP}">
		{BEGIN Solicitud_CDP_label}{$label ep_obligaciones Solicitud_CDP }{END Solicitud_CDP_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Solicitud_CDP_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Solicitud_CDP" {$tooltipAttr ep_obligaciones Solicitud_CDP } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Solicitud_CDP }		</div>
	</div>
</div>


{END Solicitud_CDP_fieldblock}
											
{BEGIN CDP_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_CDP}  r-vertical-field" 
	data-signal-error-for="CDP{$id}" {$required_attr_CDP}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field29" {$item_integrated_edit_field29} data-pageid="{$pageid}" data-field="CDP" data-fieldname="CDP" >

	<label class="r-edit-label control-label" for="{$labelfor_CDP}">
		{BEGIN CDP_label}{$label ep_obligaciones CDP }{END CDP_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$CDP_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="CDP" {$tooltipAttr ep_obligaciones CDP } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones CDP }		</div>
	</div>
</div>


{END CDP_fieldblock}
											
{BEGIN Compromisos_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Compromisos}  r-vertical-field" 
	data-signal-error-for="Compromisos{$id}" {$required_attr_Compromisos}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field30" {$item_integrated_edit_field30} data-pageid="{$pageid}" data-field="Compromisos" data-fieldname="Compromisos" >

	<label class="r-edit-label control-label" for="{$labelfor_Compromisos}">
		{BEGIN Compromisos_label}{$label ep_obligaciones Compromisos }{END Compromisos_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Compromisos_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Compromisos" {$tooltipAttr ep_obligaciones Compromisos } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Compromisos }		</div>
	</div>
</div>


{END Compromisos_fieldblock}
											
{BEGIN Cuentas_por_Pagar_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Cuentas_por_Pagar}  r-vertical-field" 
	data-signal-error-for="Cuentas_por_Pagar{$id}" {$required_attr_Cuentas_por_Pagar}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field31" {$item_integrated_edit_field31} data-pageid="{$pageid}" data-field="Cuentas_por_Pagar" data-fieldname="Cuentas por Pagar" >

	<label class="r-edit-label control-label" for="{$labelfor_Cuentas_por_Pagar}">
		{BEGIN Cuentas_por_Pagar_label}{$label ep_obligaciones Cuentas_por_Pagar }{END Cuentas_por_Pagar_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Cuentas_por_Pagar_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Cuentas_por_Pagar" {$tooltipAttr ep_obligaciones Cuentas_por_Pagar } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Cuentas_por_Pagar }		</div>
	</div>
</div>


{END Cuentas_por_Pagar_fieldblock}
											
{BEGIN Fecha_Cuentas_por_Pagar_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Fecha_Cuentas_por_Pagar}  r-vertical-field" 
	data-signal-error-for="Fecha_Cuentas_por_Pagar{$id}" {$required_attr_Fecha_Cuentas_por_Pagar}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field32" {$item_integrated_edit_field32} data-pageid="{$pageid}" data-field="Fecha_Cuentas_por_Pagar" data-fieldname="Fecha Cuentas por Pagar" >

	<label class="r-edit-label control-label" for="{$labelfor_Fecha_Cuentas_por_Pagar}">
		{BEGIN Fecha_Cuentas_por_Pagar_label}{$label ep_obligaciones Fecha_Cuentas_por_Pagar }{END Fecha_Cuentas_por_Pagar_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Fecha_Cuentas_por_Pagar_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Fecha_Cuentas_por_Pagar" {$tooltipAttr ep_obligaciones Fecha_Cuentas_por_Pagar } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Fecha_Cuentas_por_Pagar }		</div>
	</div>
</div>


{END Fecha_Cuentas_por_Pagar_fieldblock}
											
{BEGIN Obligaciones_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Obligaciones}  r-vertical-field" 
	data-signal-error-for="Obligaciones{$id}" {$required_attr_Obligaciones}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field33" {$item_integrated_edit_field33} data-pageid="{$pageid}" data-field="Obligaciones" data-fieldname="Obligaciones" >

	<label class="r-edit-label control-label" for="{$labelfor_Obligaciones}">
		{BEGIN Obligaciones_label}{$label ep_obligaciones Obligaciones }{END Obligaciones_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Obligaciones_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Obligaciones" {$tooltipAttr ep_obligaciones Obligaciones } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Obligaciones }		</div>
	</div>
</div>


{END Obligaciones_fieldblock}
											
{BEGIN Ordenes_de_Pago_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Ordenes_de_Pago}  r-vertical-field" 
	data-signal-error-for="Ordenes_de_Pago{$id}" {$required_attr_Ordenes_de_Pago}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field34" {$item_integrated_edit_field34} data-pageid="{$pageid}" data-field="Ordenes_de_Pago" data-fieldname="Ordenes de Pago" >

	<label class="r-edit-label control-label" for="{$labelfor_Ordenes_de_Pago}">
		{BEGIN Ordenes_de_Pago_label}{$label ep_obligaciones Ordenes_de_Pago }{END Ordenes_de_Pago_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Ordenes_de_Pago_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Ordenes_de_Pago" {$tooltipAttr ep_obligaciones Ordenes_de_Pago } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Ordenes_de_Pago }		</div>
	</div>
</div>


{END Ordenes_de_Pago_fieldblock}
											
{BEGIN Reintegros_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Reintegros}  r-vertical-field" 
	data-signal-error-for="Reintegros{$id}" {$required_attr_Reintegros}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field35" {$item_integrated_edit_field35} data-pageid="{$pageid}" data-field="Reintegros" data-fieldname="Reintegros" >

	<label class="r-edit-label control-label" for="{$labelfor_Reintegros}">
		{BEGIN Reintegros_label}{$label ep_obligaciones Reintegros }{END Reintegros_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Reintegros_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Reintegros" {$tooltipAttr ep_obligaciones Reintegros } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Reintegros }		</div>
	</div>
</div>


{END Reintegros_fieldblock}
											
{BEGIN Fecha_Doc_Soporte_Compromiso_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Fecha_Doc_Soporte_Compromiso}  r-vertical-field" 
	data-signal-error-for="Fecha_Doc_Soporte_Compromiso{$id}" {$required_attr_Fecha_Doc_Soporte_Compromiso}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field36" {$item_integrated_edit_field36} data-pageid="{$pageid}" data-field="Fecha_Doc_Soporte_Compromiso" data-fieldname="Fecha Doc Soporte Compromiso" >

	<label class="r-edit-label control-label" for="{$labelfor_Fecha_Doc_Soporte_Compromiso}">
		{BEGIN Fecha_Doc_Soporte_Compromiso_label}{$label ep_obligaciones Fecha_Doc_Soporte_Compromiso }{END Fecha_Doc_Soporte_Compromiso_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Fecha_Doc_Soporte_Compromiso_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Fecha_Doc_Soporte_Compromiso" {$tooltipAttr ep_obligaciones Fecha_Doc_Soporte_Compromiso } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Fecha_Doc_Soporte_Compromiso }		</div>
	</div>
</div>


{END Fecha_Doc_Soporte_Compromiso_fieldblock}
											
{BEGIN Tipo_Doc_Soporte_Compromiso_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Tipo_Doc_Soporte_Compromiso}  r-vertical-field" 
	data-signal-error-for="Tipo_Doc_Soporte_Compromiso{$id}" {$required_attr_Tipo_Doc_Soporte_Compromiso}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field37" {$item_integrated_edit_field37} data-pageid="{$pageid}" data-field="Tipo_Doc_Soporte_Compromiso" data-fieldname="Tipo Doc Soporte Compromiso" >

	<label class="r-edit-label control-label" for="{$labelfor_Tipo_Doc_Soporte_Compromiso}">
		{BEGIN Tipo_Doc_Soporte_Compromiso_label}{$label ep_obligaciones Tipo_Doc_Soporte_Compromiso }{END Tipo_Doc_Soporte_Compromiso_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Tipo_Doc_Soporte_Compromiso_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Tipo_Doc_Soporte_Compromiso" {$tooltipAttr ep_obligaciones Tipo_Doc_Soporte_Compromiso } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Tipo_Doc_Soporte_Compromiso }		</div>
	</div>
</div>


{END Tipo_Doc_Soporte_Compromiso_fieldblock}
											
{BEGIN Num_Doc_Soporte_Compromiso_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Num_Doc_Soporte_Compromiso}  r-vertical-field" 
	data-signal-error-for="Num_Doc_Soporte_Compromiso{$id}" {$required_attr_Num_Doc_Soporte_Compromiso}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field38" {$item_integrated_edit_field38} data-pageid="{$pageid}" data-field="Num_Doc_Soporte_Compromiso" data-fieldname="Num Doc Soporte Compromiso" >

	<label class="r-edit-label control-label" for="{$labelfor_Num_Doc_Soporte_Compromiso}">
		{BEGIN Num_Doc_Soporte_Compromiso_label}{$label ep_obligaciones Num_Doc_Soporte_Compromiso }{END Num_Doc_Soporte_Compromiso_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Num_Doc_Soporte_Compromiso_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Num_Doc_Soporte_Compromiso" {$tooltipAttr ep_obligaciones Num_Doc_Soporte_Compromiso } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Num_Doc_Soporte_Compromiso }		</div>
	</div>
</div>


{END Num_Doc_Soporte_Compromiso_fieldblock}
											
{BEGIN Objeto_del_Compromiso_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Objeto_del_Compromiso}  r-vertical-field" 
	data-signal-error-for="Objeto_del_Compromiso{$id}" {$required_attr_Objeto_del_Compromiso}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field39" {$item_integrated_edit_field39} data-pageid="{$pageid}" data-field="Objeto_del_Compromiso" data-fieldname="Objeto del Compromiso" >

	<label class="r-edit-label control-label" for="{$labelfor_Objeto_del_Compromiso}">
		{BEGIN Objeto_del_Compromiso_label}{$label ep_obligaciones Objeto_del_Compromiso }{END Objeto_del_Compromiso_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Objeto_del_Compromiso_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Objeto_del_Compromiso" {$tooltipAttr ep_obligaciones Objeto_del_Compromiso } >
		<div class="text-muted" >
		{$tooltip ep_obligaciones Objeto_del_Compromiso }		</div>
	</div>
</div>


{END Objeto_del_Compromiso_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Guardar			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							Cancelar			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		Reiniciar		
		</a>
	</li>
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  href="ep_obligaciones_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		Ver		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
