<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel ep_reservas add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>Ver</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Editar</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN UEJ_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_UEJ}  r-vertical-field" 
	data-signal-error-for="UEJ{$id}" {$required_attr_UEJ}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="UEJ" data-fieldname="UEJ" >

	<label class="r-edit-label control-label" for="{$labelfor_UEJ}">
		{BEGIN UEJ_label}{$label ep_reservas UEJ }{END UEJ_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$UEJ_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="UEJ" {$tooltipAttr ep_reservas UEJ } >
		<div class="text-muted" >
		{$tooltip ep_reservas UEJ }		</div>
	</div>
</div>


{END UEJ_fieldblock}
											
{BEGIN NOMBRE_UEJ_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_NOMBRE_UEJ}  r-vertical-field" 
	data-signal-error-for="NOMBRE_UEJ{$id}" {$required_attr_NOMBRE_UEJ}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="NOMBRE_UEJ" data-fieldname="NOMBRE UEJ" >

	<label class="r-edit-label control-label" for="{$labelfor_NOMBRE_UEJ}">
		{BEGIN NOMBRE_UEJ_label}{$label ep_reservas NOMBRE_UEJ }{END NOMBRE_UEJ_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$NOMBRE_UEJ_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="NOMBRE_UEJ" {$tooltipAttr ep_reservas NOMBRE_UEJ } >
		<div class="text-muted" >
		{$tooltip ep_reservas NOMBRE_UEJ }		</div>
	</div>
</div>


{END NOMBRE_UEJ_fieldblock}
											
{BEGIN RUBRO_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_RUBRO}  r-vertical-field" 
	data-signal-error-for="RUBRO{$id}" {$required_attr_RUBRO}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="RUBRO" data-fieldname="RUBRO" >

	<label class="r-edit-label control-label" for="{$labelfor_RUBRO}">
		{BEGIN RUBRO_label}{$label ep_reservas RUBRO }{END RUBRO_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$RUBRO_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="RUBRO" {$tooltipAttr ep_reservas RUBRO } >
		<div class="text-muted" >
		{$tooltip ep_reservas RUBRO }		</div>
	</div>
</div>


{END RUBRO_fieldblock}
											
{BEGIN TIPO_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_TIPO}  r-vertical-field" 
	data-signal-error-for="TIPO{$id}" {$required_attr_TIPO}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="TIPO" data-fieldname="TIPO" >

	<label class="r-edit-label control-label" for="{$labelfor_TIPO}">
		{BEGIN TIPO_label}{$label ep_reservas TIPO }{END TIPO_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$TIPO_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="TIPO" {$tooltipAttr ep_reservas TIPO } >
		<div class="text-muted" >
		{$tooltip ep_reservas TIPO }		</div>
	</div>
</div>


{END TIPO_fieldblock}
											
{BEGIN CTA_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_CTA}  r-vertical-field" 
	data-signal-error-for="CTA{$id}" {$required_attr_CTA}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="CTA" data-fieldname="CTA" >

	<label class="r-edit-label control-label" for="{$labelfor_CTA}">
		{BEGIN CTA_label}{$label ep_reservas CTA }{END CTA_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$CTA_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="CTA" {$tooltipAttr ep_reservas CTA } >
		<div class="text-muted" >
		{$tooltip ep_reservas CTA }		</div>
	</div>
</div>


{END CTA_fieldblock}
											
{BEGIN SUBCTA_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_SUBCTA}  r-vertical-field" 
	data-signal-error-for="SUBCTA{$id}" {$required_attr_SUBCTA}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="SUBCTA" data-fieldname="SUBCTA" >

	<label class="r-edit-label control-label" for="{$labelfor_SUBCTA}">
		{BEGIN SUBCTA_label}{$label ep_reservas SUBCTA }{END SUBCTA_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$SUBCTA_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="SUBCTA" {$tooltipAttr ep_reservas SUBCTA } >
		<div class="text-muted" >
		{$tooltip ep_reservas SUBCTA }		</div>
	</div>
</div>


{END SUBCTA_fieldblock}
											
{BEGIN OBJ_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_OBJ}  r-vertical-field" 
	data-signal-error-for="OBJ{$id}" {$required_attr_OBJ}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="OBJ" data-fieldname="OBJ" >

	<label class="r-edit-label control-label" for="{$labelfor_OBJ}">
		{BEGIN OBJ_label}{$label ep_reservas OBJ }{END OBJ_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$OBJ_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="OBJ" {$tooltipAttr ep_reservas OBJ } >
		<div class="text-muted" >
		{$tooltip ep_reservas OBJ }		</div>
	</div>
</div>


{END OBJ_fieldblock}
											
{BEGIN ORD_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ORD}  r-vertical-field" 
	data-signal-error-for="ORD{$id}" {$required_attr_ORD}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="ORD" data-fieldname="ORD" >

	<label class="r-edit-label control-label" for="{$labelfor_ORD}">
		{BEGIN ORD_label}{$label ep_reservas ORD }{END ORD_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$ORD_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="ORD" {$tooltipAttr ep_reservas ORD } >
		<div class="text-muted" >
		{$tooltip ep_reservas ORD }		</div>
	</div>
</div>


{END ORD_fieldblock}
											
{BEGIN SORORD_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_SORORD}  r-vertical-field" 
	data-signal-error-for="SORORD{$id}" {$required_attr_SORORD}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="SORORD" data-fieldname="SORORD" >

	<label class="r-edit-label control-label" for="{$labelfor_SORORD}">
		{BEGIN SORORD_label}{$label ep_reservas SORORD }{END SORORD_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$SORORD_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="SORORD" {$tooltipAttr ep_reservas SORORD } >
		<div class="text-muted" >
		{$tooltip ep_reservas SORORD }		</div>
	</div>
</div>


{END SORORD_fieldblock}
											
{BEGIN ITEM_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ITEM}  r-vertical-field" 
	data-signal-error-for="ITEM{$id}" {$required_attr_ITEM}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="ITEM" data-fieldname="ITEM" >

	<label class="r-edit-label control-label" for="{$labelfor_ITEM}">
		{BEGIN ITEM_label}{$label ep_reservas ITEM }{END ITEM_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$ITEM_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="ITEM" {$tooltipAttr ep_reservas ITEM } >
		<div class="text-muted" >
		{$tooltip ep_reservas ITEM }		</div>
	</div>
</div>


{END ITEM_fieldblock}
											
{BEGIN SUBITEM_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_SUBITEM}  r-vertical-field" 
	data-signal-error-for="SUBITEM{$id}" {$required_attr_SUBITEM}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="SUBITEM" data-fieldname="SUBITEM" >

	<label class="r-edit-label control-label" for="{$labelfor_SUBITEM}">
		{BEGIN SUBITEM_label}{$label ep_reservas SUBITEM }{END SUBITEM_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$SUBITEM_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="SUBITEM" {$tooltipAttr ep_reservas SUBITEM } >
		<div class="text-muted" >
		{$tooltip ep_reservas SUBITEM }		</div>
	</div>
</div>


{END SUBITEM_fieldblock}
											
{BEGIN SUBITEM_2_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_SUBITEM_2}  r-vertical-field" 
	data-signal-error-for="SUBITEM_2{$id}" {$required_attr_SUBITEM_2}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="SUBITEM_2" data-fieldname="SUBITEM 2" >

	<label class="r-edit-label control-label" for="{$labelfor_SUBITEM_2}">
		{BEGIN SUBITEM_2_label}{$label ep_reservas SUBITEM_2 }{END SUBITEM_2_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$SUBITEM_2_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="SUBITEM_2" {$tooltipAttr ep_reservas SUBITEM_2 } >
		<div class="text-muted" >
		{$tooltip ep_reservas SUBITEM_2 }		</div>
	</div>
</div>


{END SUBITEM_2_fieldblock}
											
{BEGIN FUENTE_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_FUENTE}  r-vertical-field" 
	data-signal-error-for="FUENTE{$id}" {$required_attr_FUENTE}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="FUENTE" data-fieldname="FUENTE" >

	<label class="r-edit-label control-label" for="{$labelfor_FUENTE}">
		{BEGIN FUENTE_label}{$label ep_reservas FUENTE }{END FUENTE_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$FUENTE_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="FUENTE" {$tooltipAttr ep_reservas FUENTE } >
		<div class="text-muted" >
		{$tooltip ep_reservas FUENTE }		</div>
	</div>
</div>


{END FUENTE_fieldblock}
											
{BEGIN REC_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_REC}  r-vertical-field" 
	data-signal-error-for="REC{$id}" {$required_attr_REC}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="REC" data-fieldname="REC" >

	<label class="r-edit-label control-label" for="{$labelfor_REC}">
		{BEGIN REC_label}{$label ep_reservas REC }{END REC_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$REC_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="REC" {$tooltipAttr ep_reservas REC } >
		<div class="text-muted" >
		{$tooltip ep_reservas REC }		</div>
	</div>
</div>


{END REC_fieldblock}
											
{BEGIN SIT_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_SIT}  r-vertical-field" 
	data-signal-error-for="SIT{$id}" {$required_attr_SIT}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="SIT" data-fieldname="SIT" >

	<label class="r-edit-label control-label" for="{$labelfor_SIT}">
		{BEGIN SIT_label}{$label ep_reservas SIT }{END SIT_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$SIT_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="SIT" {$tooltipAttr ep_reservas SIT } >
		<div class="text-muted" >
		{$tooltip ep_reservas SIT }		</div>
	</div>
</div>


{END SIT_fieldblock}
											
{BEGIN DESCRIPCION_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_DESCRIPCION}  r-vertical-field" 
	data-signal-error-for="DESCRIPCION{$id}" {$required_attr_DESCRIPCION}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="DESCRIPCION" data-fieldname="DESCRIPCION" >

	<label class="r-edit-label control-label" for="{$labelfor_DESCRIPCION}">
		{BEGIN DESCRIPCION_label}{$label ep_reservas DESCRIPCION }{END DESCRIPCION_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$DESCRIPCION_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="DESCRIPCION" {$tooltipAttr ep_reservas DESCRIPCION } >
		<div class="text-muted" >
		{$tooltip ep_reservas DESCRIPCION }		</div>
	</div>
</div>


{END DESCRIPCION_fieldblock}
											
{BEGIN VALOR_MAXIMO_A_CONSTITUIR_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_VALOR_MAXIMO_A_CONSTITUIR}  r-vertical-field" 
	data-signal-error-for="VALOR_MAXIMO_A_CONSTITUIR{$id}" {$required_attr_VALOR_MAXIMO_A_CONSTITUIR}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="VALOR_MAXIMO_A_CONSTITUIR" data-fieldname="VALOR MAXIMO A CONSTITUIR" >

	<label class="r-edit-label control-label" for="{$labelfor_VALOR_MAXIMO_A_CONSTITUIR}">
		{BEGIN VALOR_MAXIMO_A_CONSTITUIR_label}{$label ep_reservas VALOR_MAXIMO_A_CONSTITUIR }{END VALOR_MAXIMO_A_CONSTITUIR_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$VALOR_MAXIMO_A_CONSTITUIR_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="VALOR_MAXIMO_A_CONSTITUIR" {$tooltipAttr ep_reservas VALOR_MAXIMO_A_CONSTITUIR } >
		<div class="text-muted" >
		{$tooltip ep_reservas VALOR_MAXIMO_A_CONSTITUIR }		</div>
	</div>
</div>


{END VALOR_MAXIMO_A_CONSTITUIR_fieldblock}
											
{BEGIN VALOR_CONSTITUIDO_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_VALOR_CONSTITUIDO}  r-vertical-field" 
	data-signal-error-for="VALOR_CONSTITUIDO{$id}" {$required_attr_VALOR_CONSTITUIDO}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="VALOR_CONSTITUIDO" data-fieldname="VALOR CONSTITUIDO" >

	<label class="r-edit-label control-label" for="{$labelfor_VALOR_CONSTITUIDO}">
		{BEGIN VALOR_CONSTITUIDO_label}{$label ep_reservas VALOR_CONSTITUIDO }{END VALOR_CONSTITUIDO_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$VALOR_CONSTITUIDO_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="VALOR_CONSTITUIDO" {$tooltipAttr ep_reservas VALOR_CONSTITUIDO } >
		<div class="text-muted" >
		{$tooltip ep_reservas VALOR_CONSTITUIDO }		</div>
	</div>
</div>


{END VALOR_CONSTITUIDO_fieldblock}
											
{BEGIN COMPROMISO_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_COMPROMISO}  r-vertical-field" 
	data-signal-error-for="COMPROMISO{$id}" {$required_attr_COMPROMISO}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="COMPROMISO" data-fieldname="COMPROMISO" >

	<label class="r-edit-label control-label" for="{$labelfor_COMPROMISO}">
		{BEGIN COMPROMISO_label}{$label ep_reservas COMPROMISO }{END COMPROMISO_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$COMPROMISO_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="COMPROMISO" {$tooltipAttr ep_reservas COMPROMISO } >
		<div class="text-muted" >
		{$tooltip ep_reservas COMPROMISO }		</div>
	</div>
</div>


{END COMPROMISO_fieldblock}
											
{BEGIN OBLIGACION_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_OBLIGACION}  r-vertical-field" 
	data-signal-error-for="OBLIGACION{$id}" {$required_attr_OBLIGACION}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="OBLIGACION" data-fieldname="OBLIGACION" >

	<label class="r-edit-label control-label" for="{$labelfor_OBLIGACION}">
		{BEGIN OBLIGACION_label}{$label ep_reservas OBLIGACION }{END OBLIGACION_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$OBLIGACION_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="OBLIGACION" {$tooltipAttr ep_reservas OBLIGACION } >
		<div class="text-muted" >
		{$tooltip ep_reservas OBLIGACION }		</div>
	</div>
</div>


{END OBLIGACION_fieldblock}
											
{BEGIN ORDEN_PAGO_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ORDEN_PAGO}  r-vertical-field" 
	data-signal-error-for="ORDEN_PAGO{$id}" {$required_attr_ORDEN_PAGO}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="ORDEN_PAGO" data-fieldname="ORDEN PAGO" >

	<label class="r-edit-label control-label" for="{$labelfor_ORDEN_PAGO}">
		{BEGIN ORDEN_PAGO_label}{$label ep_reservas ORDEN_PAGO }{END ORDEN_PAGO_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$ORDEN_PAGO_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="ORDEN_PAGO" {$tooltipAttr ep_reservas ORDEN_PAGO } >
		<div class="text-muted" >
		{$tooltip ep_reservas ORDEN_PAGO }		</div>
	</div>
</div>


{END ORDEN_PAGO_fieldblock}
											
{BEGIN PAGOS_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_PAGOS}  r-vertical-field" 
	data-signal-error-for="PAGOS{$id}" {$required_attr_PAGOS}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="PAGOS" data-fieldname="PAGOS" >

	<label class="r-edit-label control-label" for="{$labelfor_PAGOS}">
		{BEGIN PAGOS_label}{$label ep_reservas PAGOS }{END PAGOS_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$PAGOS_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="PAGOS" {$tooltipAttr ep_reservas PAGOS } >
		<div class="text-muted" >
		{$tooltip ep_reservas PAGOS }		</div>
	</div>
</div>


{END PAGOS_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Guardar			</a>
</span>
	 
		<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
