<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-print" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="left"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="print_header" data-itemid="print_header" {$item_print_header} data-pageid="{$pageid}" >{$pagetitlelabel global_users print}</h2>
	 
		{BEGIN printtabheader}
<span data-itemtype="print_subheader" data-itemid="print_subheader" {$item_print_subheader} data-pageid="{$pageid}" >
{$printtabheader_text}
</span>
{END printtabheader}
		</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="top_c4" data-pageid="{$pageid}"	{$cell_top_c4}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN mastertable_block}
<div data-itemtype="master_info" data-itemid="master_info" {$item_master_info} data-pageid="{$pageid}">
	{$showmasterfile}
</div>
{END mastertable_block}		</div>					</div>
			</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class="			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="print_pages" data-itemid="print_pages" {$item_print_pages} data-pageid="{$pageid}" data-small >
	{$print_pages_labelprint_pages}
</span>	 
		{BEGIN inline_cancel}
<span data-itemtype="grid_inline_cancel" data-itemid="grid_inline_cancel" {$item_grid_inline_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Cancelar" class="btn-link   
	 glyphicon glyphicon-remove" {$inlinerevertlink_attrs} title="Cancelar" >		
				
								</a>
</span>
{END inline_cancel}
	 
		{BEGIN inlineadd_link}
<span data-itemtype="inline_add" data-itemid="inline_add" {$item_inline_add} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$inlineaddlink_attrs} >
							Añadir nuevo			</a>
</span>
{END inlineadd_link}
			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
									{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<table data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" class=" table table-hover table-bordered r-horizontal-grid  rnr-b-grid rnr-gridtable"
	cellpadding="0"
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
			
																									<tr {$rowattrs} {$row_grid_0} class="{$rowclass}
									{$gridHeader_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Username_class}	"

			data-field="Username"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Username_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Username" data-fieldname="Username" 

	
	
	>
	<span class="text-label">
		<span>{$label global_users Username }</span>
			</span>
	</span>
{END Username_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
									{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$usr_email_class}	"

			data-field="usr_email"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN usr_email_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="usr_email" data-fieldname="usr_email" 

	
	
	>
	<span class="text-label">
		<span>{$label global_users usr_email }</span>
			</span>
	</span>
{END usr_email_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
									{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$usr_name_class}	"

			data-field="usr_name"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN usr_name_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="usr_name" data-fieldname="usr_name" 

	
	
	>
	<span class="text-label">
		<span>{$label global_users usr_name }</span>
			</span>
	</span>
{END usr_name_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
									{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$usr_lname_class}	"

			data-field="usr_lname"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN usr_lname_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="usr_lname" data-fieldname="usr_lname" 

	
	
	>
	<span class="text-label">
		<span>{$label global_users usr_lname }</span>
			</span>
	</span>
{END usr_lname_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
									{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$usr_personalid_class}	"

			data-field="usr_personalid"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN usr_personalid_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="usr_personalid" data-fieldname="usr_personalid" 

	
	
	>
	<span class="text-label">
		<span>{$label global_users usr_personalid }</span>
			</span>
	</span>
{END usr_personalid_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
									{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$global_rol_almacen_class}	"

			data-field="global_rol_almacen"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN global_rol_almacen_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field29" {$item_simple_grid_field29} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="global_rol_almacen" data-fieldname="global_rol_almacen" 

	
	
	>
	<span class="text-label">
		<span>{$label global_users global_rol_almacen }</span>
			</span>
	</span>
{END global_rol_almacen_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
									{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$global_rol_contratos_class}	"

			data-field="global_rol_contratos"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN global_rol_contratos_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field31" {$item_simple_grid_field31} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="global_rol_contratos" data-fieldname="global_rol_contratos" 

	
	
	>
	<span class="text-label">
		<span>{$label global_users global_rol_contratos }</span>
			</span>
	</span>
{END global_rol_contratos_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
									{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sys_user_class}	"

			data-field="sys_user"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sys_user_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field53" {$item_simple_grid_field53} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sys_user" data-fieldname="sys_user" 

	
	
	>
	<span class="text-label">
		<span>{$label global_users sys_user }</span>
			</span>
	</span>
{END sys_user_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
									{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sys_date_class}	"

			data-field="sys_date"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sys_date_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field54" {$item_simple_grid_field54} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sys_date" data-fieldname="sys_date" 

	
	
	>
	<span class="text-label">
		<span>{$label global_users sys_date }</span>
			</span>
	</span>
{END sys_date_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
									{BEGIN cellblock_grid_headcell_field9}
	<th
	
	{$cell_grid_headcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sys_time_class}	"

			data-field="sys_time"
	
	data-cellId="grid_headcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sys_time_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field55" {$item_simple_grid_field55} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sys_time" data-fieldname="sys_time" 

	
	
	>
	<span class="text-label">
		<span>{$label global_users sys_time }</span>
			</span>
	</span>
{END sys_time_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field9}
									{BEGIN cellblock_grid_headcell_field10}
	<th
	
	{$cell_grid_headcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$usr_dep_class}	"

			data-field="usr_dep"
	
	data-cellId="grid_headcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN usr_dep_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field67" {$item_simple_grid_field67} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="usr_dep" data-fieldname="usr_dep" 

	
	
	>
	<span class="text-label">
		<span>{$label global_users usr_dep }</span>
			</span>
	</span>
{END usr_dep_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field10}
									{BEGIN cellblock_grid_headcell_field11}
	<th
	
	{$cell_grid_headcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$usr_cargo_class}	"

			data-field="usr_cargo"
	
	data-cellId="grid_headcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN usr_cargo_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field69" {$item_simple_grid_field69} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="usr_cargo" data-fieldname="usr_cargo" 

	
	
	>
	<span class="text-label">
		<span>{$label global_users usr_cargo }</span>
			</span>
	</span>
{END usr_cargo_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field11}
									{BEGIN cellblock_grid_headcell_field12}
	<th
	
	{$cell_grid_headcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$usr_extension_class}	"

			data-field="usr_extension"
	
	data-cellId="grid_headcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN usr_extension_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field71" {$item_simple_grid_field71} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="usr_extension" data-fieldname="usr_extension" 

	
	
	>
	<span class="text-label">
		<span>{$label global_users usr_extension }</span>
			</span>
	</span>
{END usr_extension_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field12}
									{BEGIN cellblock_grid_headcell_field13}
	<th
	
	{$cell_grid_headcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$usr_datebirth_class}	"

			data-field="usr_datebirth"
	
	data-cellId="grid_headcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN usr_datebirth_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field72" {$item_simple_grid_field72} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="usr_datebirth" data-fieldname="usr_datebirth" 

	
	
	>
	<span class="text-label">
		<span>{$label global_users usr_datebirth }</span>
			</span>
	</span>
{END usr_datebirth_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field13}
									{BEGIN cellblock_grid_headcell_field14}
	<th
	
	{$cell_grid_headcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$active_class}	"

			data-field="active"
	
	data-cellId="grid_headcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN active_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field77" {$item_simple_grid_field77} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="active" data-fieldname="active" 

	
	
	>
	<span class="text-label">
		<span>{$label global_users active }</span>
			</span>
	</span>
{END active_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field14}
									{BEGIN cellblock_grid_headcell_field15}
	<th
	
	{$cell_grid_headcell_field15}
	{$recordattrs}
	class="
		 r-ori-vert		 {$groupid_class}	"

			data-field="groupid"
	
	data-cellId="grid_headcell_field15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN groupid_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field78" {$item_simple_grid_field78} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="groupid" data-fieldname="groupid" 

	
	
	>
	<span class="text-label">
		<span>{$label global_users groupid }</span>
			</span>
	</span>
{END groupid_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field15}
									{BEGIN cellblock_grid_headcell_field16}
	<th
	
	{$cell_grid_headcell_field16}
	{$recordattrs}
	class="
		 r-ori-vert		 {$id_fk_class}	"

			data-field="id_fk"
	
	data-cellId="grid_headcell_field16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN id_fk_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id_fk" data-fieldname="id_fk" 

	
	
	>
	<span class="text-label">
		<span>{$label global_users id_fk }</span>
			</span>
	</span>
{END id_fk_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field16}
									{BEGIN cellblock_grid_headcell_field17}
	<th
	
	{$cell_grid_headcell_field17}
	{$recordattrs}
	class="
		 r-ori-vert		 {$phone_class}	"

			data-field="phone"
	
	data-cellId="grid_headcell_field17" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN phone_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="phone" data-fieldname="phone" 

	
	
	>
	<span class="text-label">
		<span>{$label global_users phone }</span>
			</span>
	</span>
{END phone_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field17}
							</tr>
															
					{END grid_header}
			</thead>
															{BEGIN grid_row}
					<tbody>
							
																														<tr {$rowattrs} {$row_grid_1} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Username_class}	"

			data-field="Username"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Username_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Username" data-fieldname="Username" data-default-width >
{$Username_value}
</span>
{END Username_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
									{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$usr_email_class}	"

			data-field="usr_email"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN usr_email_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="usr_email" data-fieldname="usr_email" data-default-width >
{$usr_email_value}
</span>
{END usr_email_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
									{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$usr_name_class}	"

			data-field="usr_name"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN usr_name_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="usr_name" data-fieldname="usr_name" data-default-width >
{$usr_name_value}
</span>
{END usr_name_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
									{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$usr_lname_class}	"

			data-field="usr_lname"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN usr_lname_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="usr_lname" data-fieldname="usr_lname" data-default-width >
{$usr_lname_value}
</span>
{END usr_lname_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
									{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$usr_personalid_class}	"

			data-field="usr_personalid"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN usr_personalid_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="usr_personalid" data-fieldname="usr_personalid" data-default-width >
{$usr_personalid_value}
</span>
{END usr_personalid_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
									{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$global_rol_almacen_class}	"

			data-field="global_rol_almacen"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN global_rol_almacen_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field28" {$item_simple_grid_field28} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="global_rol_almacen" data-fieldname="global_rol_almacen" data-default-width >
{$global_rol_almacen_value}
</span>
{END global_rol_almacen_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
									{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$global_rol_contratos_class}	"

			data-field="global_rol_contratos"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN global_rol_contratos_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field30" {$item_simple_grid_field30} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="global_rol_contratos" data-fieldname="global_rol_contratos" data-default-width >
{$global_rol_contratos_value}
</span>
{END global_rol_contratos_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
									{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sys_user_class}	"

			data-field="sys_user"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sys_user_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field50" {$item_simple_grid_field50} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sys_user" data-fieldname="sys_user" data-default-width >
{$sys_user_value}
</span>
{END sys_user_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
									{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sys_date_class}	"

			data-field="sys_date"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sys_date_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field51" {$item_simple_grid_field51} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sys_date" data-fieldname="sys_date" data-default-width >
{$sys_date_value}
</span>
{END sys_date_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
									{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sys_time_class}	"

			data-field="sys_time"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sys_time_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field52" {$item_simple_grid_field52} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sys_time" data-fieldname="sys_time" data-default-width >
{$sys_time_value}
</span>
{END sys_time_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
									{BEGIN cellblock_grid_cell_field10}
	<td
	
	{$cell_grid_cell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$usr_dep_class}	"

			data-field="usr_dep"
	
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN usr_dep_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field65" {$item_simple_grid_field65} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="usr_dep" data-fieldname="usr_dep" data-default-width >
{$usr_dep_value}
</span>
{END usr_dep_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field10}
									{BEGIN cellblock_grid_cell_field11}
	<td
	
	{$cell_grid_cell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$usr_cargo_class}	"

			data-field="usr_cargo"
	
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN usr_cargo_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field66" {$item_simple_grid_field66} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="usr_cargo" data-fieldname="usr_cargo" data-default-width >
{$usr_cargo_value}
</span>
{END usr_cargo_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field11}
									{BEGIN cellblock_grid_cell_field12}
	<td
	
	{$cell_grid_cell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$usr_extension_class}	"

			data-field="usr_extension"
	
	data-cellId="grid_cell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN usr_extension_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field68" {$item_simple_grid_field68} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="usr_extension" data-fieldname="usr_extension" data-default-width >
{$usr_extension_value}
</span>
{END usr_extension_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field12}
									{BEGIN cellblock_grid_cell_field13}
	<td
	
	{$cell_grid_cell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$usr_datebirth_class}	"

			data-field="usr_datebirth"
	
	data-cellId="grid_cell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN usr_datebirth_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field70" {$item_simple_grid_field70} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="usr_datebirth" data-fieldname="usr_datebirth" data-default-width >
{$usr_datebirth_value}
</span>
{END usr_datebirth_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field13}
									{BEGIN cellblock_grid_cell_field14}
	<td
	
	{$cell_grid_cell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$active_class}	"

			data-field="active"
	
	data-cellId="grid_cell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN active_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field75" {$item_simple_grid_field75} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="active" data-fieldname="active" data-default-width >
{$active_value}
</span>
{END active_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field14}
									{BEGIN cellblock_grid_cell_field15}
	<td
	
	{$cell_grid_cell_field15}
	{$recordattrs}
	class="
		 r-ori-vert		 {$groupid_class}	"

			data-field="groupid"
	
	data-cellId="grid_cell_field15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN groupid_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field76" {$item_simple_grid_field76} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="groupid" data-fieldname="groupid" data-default-width >
{$groupid_value}
</span>
{END groupid_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field15}
									{BEGIN cellblock_grid_cell_field16}
	<td
	
	{$cell_grid_cell_field16}
	{$recordattrs}
	class="
		 r-ori-vert		 {$id_fk_class}	"

			data-field="id_fk"
	
	data-cellId="grid_cell_field16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN id_fk_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id_fk" data-fieldname="id_fk" data-default-width >
{$id_fk_value}
</span>
{END id_fk_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field16}
									{BEGIN cellblock_grid_cell_field17}
	<td
	
	{$cell_grid_cell_field17}
	{$recordattrs}
	class="
		 r-ori-vert		 {$phone_class}	"

			data-field="phone"
	
	data-cellId="grid_cell_field17" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN phone_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="phone" data-fieldname="phone" data-default-width >
{$phone_value}
</span>
{END phone_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field17}
							</tr>
										
											</tbody>
					{END grid_row}
													<tfoot>
			
																																			<tr {$rowattrs} {$row_grid_2} class="{$rowclass}
									{$gridFooter_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Username_class}	"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="global_users_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
									{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$usr_email_class}	"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="global_users_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
									{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$usr_name_class}	"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="global_users_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
									{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$usr_lname_class}	"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="global_users_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
									{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$usr_personalid_class}	"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="global_users_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
									{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$global_rol_almacen_class}	"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="global_users_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
									{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$global_rol_contratos_class}	"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="global_users_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
									{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sys_user_class}	"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="global_users_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
									{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sys_date_class}	"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="global_users_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
									{BEGIN cellblock_grid_footcell_field9}
	<td
	
	{$cell_grid_footcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sys_time_class}	"

	
	data-cellId="grid_footcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="global_users_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field9}
									{BEGIN cellblock_grid_footcell_field10}
	<td
	
	{$cell_grid_footcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$usr_dep_class}	"

	
	data-cellId="grid_footcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="global_users_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field10}
									{BEGIN cellblock_grid_footcell_field11}
	<td
	
	{$cell_grid_footcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$usr_cargo_class}	"

	
	data-cellId="grid_footcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="global_users_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field11}
									{BEGIN cellblock_grid_footcell_field12}
	<td
	
	{$cell_grid_footcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$usr_extension_class}	"

	
	data-cellId="grid_footcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="global_users_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field12}
									{BEGIN cellblock_grid_footcell_field13}
	<td
	
	{$cell_grid_footcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$usr_datebirth_class}	"

	
	data-cellId="grid_footcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="global_users_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field13}
									{BEGIN cellblock_grid_footcell_field14}
	<td
	
	{$cell_grid_footcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$active_class}	"

	
	data-cellId="grid_footcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="global_users_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field14}
									{BEGIN cellblock_grid_footcell_field15}
	<td
	
	{$cell_grid_footcell_field15}
	{$recordattrs}
	class="
		 r-ori-vert		 {$groupid_class}	"

	
	data-cellId="grid_footcell_field15" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="global_users_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field15}
									{BEGIN cellblock_grid_footcell_field16}
	<td
	
	{$cell_grid_footcell_field16}
	{$recordattrs}
	class="
		 r-ori-vert		 {$id_fk_class}	"

	
	data-cellId="grid_footcell_field16" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="global_users_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field16}
									{BEGIN cellblock_grid_footcell_field17}
	<td
	
	{$cell_grid_footcell_field17}
	{$recordattrs}
	class="
		 r-ori-vert		 {$phone_class}	"

	
	data-cellId="grid_footcell_field17" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="global_users_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field17}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" >		
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
